<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="text-color">
      Contenedor automatizado para la separación de residuos reutilizables y no reutilizables
      (R-Gea)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="6">
        <ion-card color="dark">
          <img alt="Silhouette of mountains" style="width: 150px; height: 150px;"
            src="../../assets/images/contenedores.png" />
          <ion-card-header>
            <ion-card-title>CLASIFICACIÓN</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="6">
        <ion-card color="dark" (click)="setOpen(true)">
          <img alt="Silhouette of mountains" style="width: 150px; height: 150px;" src="../../assets/images/chat.png" />
          <ion-card-header>
            <ion-card-title>CHAT-BOT</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="6">
        <ion-card color="dark" href="http://proyectorgea.com/" target="_blank">
          <img alt="Silhouette of mountains" style="width: 150px; height: 150px;"
            src="../../assets/images/website.png" />
          <ion-card-header>
            <ion-card-title>WEBSITE</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="6">
        <ion-card color="dark" (click)="setModel(true)">
          <img alt="Silhouette of mountains" style="width: 150px; height: 150px;" src="../../assets/images/info.png" />
          <ion-card-header>
            <ion-card-title>INFORMACIÓN</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

 <!-- Modal del chat-bot -->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar class="new-background-color">
          <ion-title class="text-color">Chat-bot</ion-title>
          <ion-buttons slot="end" class="text-color">
            <ion-icon name="close-circle-outline" size="large" (click)="setOpen(false)"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <iframe width="100%" height="100%" allow="microphone;"
          src="https://console.dialogflow.com/api-client/demo/embedded/0a9499da-3268-4bf4-a4eb-be25e8939e15"></iframe>
      </ion-content>
    </ng-template>
  </ion-modal>
<!-- ------------------ -->

<!-- Modal información -->
<ion-modal [isOpen]="openModel">
  <ng-template>
    <ion-header>
      <ion-toolbar class="new-background-color">
        <ion-title class="text-color">Información General</ion-title>
        <ion-buttons slot="end" class="text-color">
          <ion-icon name="close-circle-outline" size="large" (click)="setModel(false)"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
    
    </ion-content>
  </ng-template>
</ion-modal>
<!-- ------------------ -->

</ion-content>